.title{
   color: #333;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 144px;
  margin-top: 50px;
  margin-bottom:100px;
}
.sub{
   color: #333;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  margin-bottom: 50px;
}
.button{
  background: url('apple-icon-57x57.png"')
}

body{
  text-align: center
}
