body{
    text-align: center;
    margin-top: 100px;
}
.eng{
        color: black;
        font-family: 'DotGothic16', sans-serif;
        font-weight: Regular;
        font-size: 48px;
        margin-bottom:50px;
 }
.sub{
        color: black;
        font-family: 'Roboto';
        font-weight: Regular;
        font-size: 24px;
}
.move{
    color: white;
    font-family: 'DotGothic16', sans-serif;
    font-weight: Regular;
}
button{
    position: fixed;
    margin: 0 auto;
     border: none;
   width: 50px;
   top: 550px;
   background-color: white;
   transition: opacity 1s;
}
button:hover{
   opacity: 30%;
}
