body{
    text-align: center;
}
.eng{
        color: black;
        font-family: 'DotGothic16', sans-serif;
        font-weight: Regular;
        font-size: 144px;
        margin-bottom:50px;
        margin-top: 150px;
 }
.sub{
        color: black;
        font-family: 'Roboto';
        font-weight: Regular;
        font-size: 48px;
      
}
 button{
     position: fixed;
     margin: 0 auto;
      border: none;
    width: 50px;
    top: 550px;
    background-color: white;
    transition: opacity 1s;
}
button:hover{
    opacity: 30%;
}
#click{
    color: black;
    font-family: 'DotGothic16', sans-serif;
    font-weight: Regular;
    font-size: 14px;
    position: fixed;
    right:665px; top:570px;
}